In [1]:
# Import yfinance and matplotlib
import yfinance as yf  
import matplotlib.pyplot as plt
# Get the data for the SPY ETF by specifying the stock ticker, start date, and end date
start_date = '2011-09-09'
end_date   = '2021-09-09'

In [2]:
import requests
import pandas as pd

url = 'https://finance.yahoo.com/most-active?offset=0&count=25'
df = pd.read_html(requests.get(url).content)[-1]

In [3]:
df.head()

,Symbol,Name,Price (Intraday),Change,% Change,Volume,Avg Vol (3 month),Market Cap,PE Ratio (TTM),52 Week Range
0,F,Ford Motor Company,13.68,0.45,+3.36%,58.22M,60.636M,54.628B,15.98,NaN
1,PLTR,Palantir Technologies Inc.,28.69,1.26,+4.61%,52.209M,45.1M,56.045B,NaN,NaN
2,AAPL,Apple Inc.,146.81,0.96,+0.66%,50.472M,79.712M,2.427T,28.74,NaN
3,AAL,American Airlines Group Inc.,20.84,0.32,+1.56%,45.363M,31.006M,13.493B,NaN,NaN
4,VALE,Vale S.A.,14.84,-0.02,-0.14%,43.204M,26.518M,74.078B,4.40,NaN

In [4]:
symbols = list(df.Symbol)

In [5]:
symbol_to_data = {}

for symbol in symbols:
    symbol_to_data[symbol] = yf.download(symbol, start_date, end_date).reset_index() \
    .drop(columns=['Close', 'High', 'Low', 'Adj Close'])
    symbol_to_data[symbol]['Symbol'] = symbol

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [6]:
len(symbol_to_data['F'])

for symbol in symbols:
    if(len(symbol_to_data['F']) > len(symbol_to_data[symbol])):
        symbols.remove(symbol)
print(f'{20 - len(symbols)} are missing')

3 are missing

In [15]:
symbols

['F',
 'AAPL',
 'AAL',
 'VALE',
 'CCL',
 'BAC',
 'ABEV',
 'BB',
 'FCEL',
 'AMD',
 'EDU',
 'T',
 'BBD',
 'ITUB',
 'CLF',
 'RIG',
 'NVDA',
 'GSAT',
 'SDC']

In [8]:
symbols.extend(['NVDA', 'GSAT', 'BABA', 'FB'])

In [9]:
symbol_to_data = {}

for symbol in symbols:
    symbol_to_data[symbol] = yf.download(symbol, start_date, end_date).reset_index() \
    .drop(columns=['Close', 'High', 'Low', 'Adj Close'])
    symbol_to_data[symbol]['Symbol'] = symbol

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [10]:
len(symbol_to_data['F'])

for symbol in symbols:
    if(len(symbol_to_data['F']) > len(symbol_to_data[symbol])):
        symbols.remove(symbol)
print(f'{20 - len(symbols)} are invalid')

1 are invalid

In [12]:
symbols.extend(['SDC'])

In [13]:
symbol_to_data = {}

for symbol in symbols:
    symbol_to_data[symbol] = yf.download(symbol, start_date, end_date).reset_index() \
    .drop(columns=['Close', 'High', 'Low', 'Adj Close'])
    symbol_to_data[symbol]['Symbol'] = symbol

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [14]:
len(symbol_to_data['F'])

for symbol in symbols:
    if(len(symbol_to_data['F']) > len(symbol_to_data[symbol])):
        symbols.remove(symbol)
print(f'{20 - len(symbols)} are invalid')

1 are invalid

In [77]:
df = symbol_to_data[symbols[0]]

for symbol in symbols:
    df = pd.merge(df, symbol_to_data[symbol], how='outer', suffixes=[None, '_'+symbol], on='Date')

In [78]:
df

,Date,Open,Volume,Symbol,Open_F,Volume_F,Symbol_F,Open_PLTR,Volume_PLTR,Symbol_PLTR,...,Symbol_CLF,Open_UBER,Volume_UBER,Symbol_UBER,Open_ATUS,Volume_ATUS,Symbol_ATUS,Open_NVDA,Volume_NVDA,Symbol_NVDA
0,2011-09-08,10.49,45105500,F,10.49,45105500,F,NaN,NaN,NaN,...,CLF,NaN,NaN,NaN,NaN,NaN,NaN,3.527500,88016400,NVDA
1,2011-09-09,10.11,69911300,F,10.11,69911300,F,NaN,NaN,NaN,...,CLF,NaN,NaN,NaN,NaN,NaN,NaN,3.515000,86982800,NVDA
2,2011-09-12,9.86,58352000,F,9.86,58352000,F,NaN,NaN,NaN,...,CLF,NaN,NaN,NaN,NaN,NaN,NaN,3.422500,91648000,NVDA
3,2011-09-13,10.16,44205300,F,10.16,44205300,F,NaN,NaN,NaN,...,CLF,NaN,NaN,NaN,NaN,NaN,NaN,3.582500,85383600,NVDA
4,2011-09-14,10.25,70810200,F,10.25,70810200,F,NaN,NaN,NaN,...,CLF,NaN,NaN,NaN,NaN,NaN,NaN,3.727500,154719200,NVDA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2512,2021-09-01,13.03,58875700,F,13.03,58875700,F,26.459999,34417200.0,PLTR,...,CLF,39.980000,27788600.0,UBER,27.580000,2712800.0,ATUS,224.850006,20176700,NVDA
2513,2021-09-02,13.09,49053200,F,13.09,49053200,F,26.209999,38460100.0,PLTR,...,CLF,40.750000,20645400.0,UBER,28.090000,3398900.0,ATUS,225.179993,18783400,NVDA
2514,2021-09-03,12.99,41616700,F,12.99,41616700,F,26.490000,26609500.0,PLTR,...,CLF,41.220001,15444900.0,UBER,28.190001,2332900.0,ATUS,223.250000,28053200,NVDA
2515,2021-09-07,12.83,64008900,F,12.83,64008900,F,26.790001,35835100.0,PLTR,...,CLF,40.490002,15708600.0,UBER,28.209999,2849400.0,ATUS,228.330002,19810700,NVDA
2516,2021-09-08,12.97,57980900,F,12.97,57980900,F,26.600000,54394400.0,PLTR,...,CLF,40.849998,16219900.0,UBER,27.049999,5113300.0,ATUS,225.130005,25443400,NVDA

TypeError: '('2011-09-08', slice(None, None, None))' is an invalid key